* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: blueviolet;
	font-size: 1.4em;
	text-align: left;
}

body {
    font:18px arial;
    color: black;
    text-align:center;
    padding: 0 ;
}

input { 
	font:12px arial; 
}
  
.site_content {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-color: rgb(190,190,190);
    border-style: solid;
    border-radius: 5px;
    float: left;
    width: 320px;
    padding: 10px;
    border: 3px solid #ccc;
}

.containers_all{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 1500px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    float: left;   
}

.names{
	text-align: left;
    width: 280px;
    margin-right: 10px;
    float: left;
}

.logo {
	width: 100%;
	padding-bottom: 40px;
}

.logo h1, .logo h2 {
	font: normal 300% 'century gothic', arial, sans-serif;
	margin: 0 0 0 50px;
	text-align: center;
}

.logo_text h1 {
	padding: 0 0 0 0;
	color: #fff;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo_text h2 {
	text-align: left;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
 .site_content_main {
 	border-color: rgb(190,190,190);
    border-style: solid;
    border-radius: 5px;
 	padding: 10px;
 	float: left;
    width: 1500px;
    margin-top: 10px;
    margin-right: 10px;
 }

.site_content_main img {
	float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.logo_text h2 {
	font-size: 0.9em;
	padding: 4px 0 0 0;
	color: #999;
}

.footer {
background-color: blueviolet;
color: #fff;
font: normal 150% 'century gothic', arial, sans-serif;
padding: 5px; clear : both;
height: 50px;
text-align: center;
}